extends layout

block content
  p wasup
  form(method='POST' action='/createEvent')
    textarea(name='numbers', cols='35', rows='10')
    button(type='submit', class='btn btn-primary') Margfalda og finna þætti
