extends layout

block content
  p wasup
  form(method='POST' action='/createEvent')
    input(name='eventName', placeholder='eventName')
    input(name='ageMin', placeholder='ageMin')
    input(name='ageMax', placeholder='ageMax')
    input(name='descr', placeholder='descr')
    input(name='genderRestrict', placeholder='genderRestrict')
    input(name='lati', placeholder='lati')
    input(name='long', placeholder='long')
    input(name='eventName', placeholder='eventName')
    input(name='startDate', placeholder='startDate')
    input(name='endDate', placeholder='endDate')
    button(type='submit') CreateEvent
