extends layout

block content
  div.welcomePage
    div.wpDiv
      h1='The Event Finder'
      p='Want to spend time with your family? Your beloved one? Make friends in town? Ever wondered what is happening around you in nowaday society?'
      p='Come and join us today to find new passions and meet new people!'
    div.loginDiv
      a(href="/login/facebook") Log In With Facebook!
